<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buyer Dashboard - Reverse Shopping</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'marketplace/style.css' %}">
</head>
<body>

    <h1>Buyer Dashboard</h1>

    <h2>Welcome to Reverse Shopping</h2>

    <p>From here, you can manage your requirements and view seller offers.</p>
    <a href="/post-requirement/">
        <button>Post Product Requirement</button>
    </a>
</body>
</html>